$primary: #B4F9DC;
$secondary: #D1D5FF;

.form-label{
    text-align: left;
}

.form-control {
    width: 75% !important;
    background-color: #D9D9D9;
    border-radius: 0%;
  }



label{
    padding-top: 20px;
}

.btn-formulario{
    background-color: $secondary;
    width: 55%;
    height: 123%;
}
